{% extends 'base.html' %}

{% block contenido %}

<div class="container py-5">

    <div class="card my-5 mx-auto shadow-lg border-0 rounded" style="max-width: 1250px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://tse1.explicit.bing.net/th/id/OIP.EEOCI5Siq9xfYqpKZEIjuQHaHa?r=0&w=980&h=980&rs=1&pid=ImgDetMain&o=7&rm=3" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title fs-1 fw-bold text-danger">Bienvenido a mi aplicacion del PEC</h2>
                    <i class="bi bi-heart-pulse-fill fs-1 text-danger"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm border-light">
        <div class="card-header" style="background-color: #7DA7C2;">
            <a class="btn" data-bs-toggle="collapse" href="#arch" role="button" aria-expanded="false" aria-controls="arch">
                <h5 class="card-title text-light"><i class="bi bi-folder2-open me-2"></i>Ver Archivos Subidos...</h5>
            </a>
        </div>
        <div class="card-body position-relative collapse" id="arch">

            {% if archivos %}

                <ul class="list-group">

                    {% for archivo in archivos %}

                    <li class="list-group-item d-flex justify-content-between align-items-center">

                        {{ archivo }}

                        <span class="badge bg-success">
                            Subido
                        </span>

                    </li>

                    {% endfor %}

                </ul>

            {% else %}

                <p class="text-muted m-0">
                    No hay trabajos subidos todavía.
                </p>

            {% endif %}

            <a type="button" class="btn btn-outline-primary mx-auto my-2" href="/upload">
                <i class="bi bi-cloud-upload-fill me-2"></i> Publicar
            </a>

        </div>
    </div>

</div>

{% endblock %}